.vodio {
  width: 100%;
  min-height: 464px;
  padding-left: 361px / 1440px *100%;
  padding-right: 361px / 1440px *100%;
  padding-top: 119px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  gap: 18px;
  background: url(../images/vodio.svg);

  .span14 {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
  }

  .span36 {
    font-size: 36px;
    line-height: 44px;
    color: #fff;
    font-family: 'Varela Round';
  }

  &__button {
    width: 64px;
    height: 64px;
    background-color: #a5c926;
    border: none;
    margin-top: 8px;
  }
}

@media screen and (max-width:520px) {
  .vodio {
    padding-top: 40px;
  }
}